.faq-item {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background: var(--ifm-color-emphasis-100);
  transition: background 0.3s ease;
}

.faq-item.open {
  background: rgba(21, 129, 191, 0.08);
}

.faq-question {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-toggle {
  font-size: 18px;
  color: var(--ifm-color-primary);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 1s ease;
  margin-top: 5px;
}

.faq-item.open .faq-answer {
  max-height: max-content; /* đủ để chứa nội dung */
  opacity: 1;
}
