.quest-box {
  margin: 16px 0;
  padding: 12px 16px;
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: 10px;
  background-color: var(--ifm-background-surface-color);
}

.quest-question {
  font-weight: bold;
  margin-bottom: 8px;
}

.options {
  list-style-type: none;
  padding: 0;
}

.options li {
  background: var(--ifm-color-emphasis-100);
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.options li:hover {
  background: var(--ifm-color-emphasis-200);
}

.options li.correct {
  background-color: var(--background-green);
  border: 1px solid var(--ifm-color-secondary);
  color: #2e7d32;
}

.options li.wrong {
  background-color: var(--accent-pink-light);
  border: 1px solid var(--accent-pink);
  color: #b71c1c;
}
